
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_container{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top:40px ;

}
.Section_container{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top:40px ;
  align-items: center;

}
.heading_text h4{
  font-weight: 700;
  font-size: 1.3rem;
}

.navbar{
  display: flex;
}
.manu_items{
  display: flex;
  list-style: none;
  align-items: center;
  
}
.item_list a{
  margin-right: 30px;
  text-decoration: none;
  color: rgba(58, 58, 58, 1);
  font-size: 1rem;
}

.item_list a .fa-solid{
  font-size: 1.5rem;
}
/*  */

.Journey_content{
  max-width: 482px;
}
.Journey_content p{
  max-width: 505px;
  margin: 16px 0;
}

.Img_container_1 img{
  width: 100%;
}
.btn_1{
  background-color: rgba(224, 44, 109, 1);
  padding: 12px 24px;
  border-radius: 41px;
  border: none;
  color: white;
  font-weight: 700;
}
.btn_1 i{
  margin-left: 10px;

}
.Brand_Main_container{
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 100px;
  
}
.Barand_containe{
  display: flex;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 36px 62px;
}
/*  */
.Section_3{
  margin-top: 100px;
}

.Card_Section{
  max-width: 1047px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.Popular_Collection{
  text-align: center;
  margin-bottom: 50px;
}
.Price{
  font-weight: 500;
  font-size: 25px;

}
.Rating{
  width: 150px;
  margin-left: -10px;
}

.Card_content p{
  max-width: 196px;
  font-size: 14px;
  font-weight: 500;

}
.Card_content{
  padding: 17px 15px;
}
.Card_container{
  max-width: 329px;
  max-height: 476px;
}
/*  */
.Section4_Container{
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  gap: 40px;
}
.Img_container{
  max-width: 404;
  max-height: 270px;
}
.Img_container img{
  width: 100%;

}
.Text_Container{
  max-width: 610px;
  margin: 23px 0px 23px 56px;
}
.Text_Container p{
  margin: 15px 0;
}
/* Footer */
footer{
  background-color: rgb(8, 8, 87);
  max-width: 100%;
  max-height: 240px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  
}
.Footer_Container{
  max-width: 262px;
  margin: 0 auto;
  color: aliceblue;
  margin: 45px 0;
}
.icon_container i{
  margin: 10px 0;
  margin-right: 8px;
  background-color: rgba(169, 169, 169, 0.224);
  padding: 10px;
  border-radius: 50%;
}